@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{object-fit: cover; vertical-align: top;}

:root{
    --main_color : hsl(180, 50%, 60%);
    --sub_color : hsl(180, 61%, 37%);
    --back_color : #ffffff;
    --text_color : #666666;
    --width_inner : 1340px;
}

body{
    background-color: var(--back_color);
    color: var(--text_color);
}

.inner{max-width: var(--width_inner); margin: 0 auto;}

header{height: 100px; display: flex; justify-content: space-between; align-items: end; padding-right: 30px;}
header .logo{margin-bottom: 30px;}
header .main{display: flex; position: relative;}
header .main li a{width: 140px; display: block; text-align: center;}
header .main>li>a{color: var(--main_color); padding: 10px;}
header .main>li:hover>a, header .main>li.on>a, header .main>li>a:focus{
    color: #fff; background-color: var(--main_color);
}
header .sub{position: absolute; z-index: 2; display: none;}
header .sub>li>a{color: var(--sub_color); padding: 5px; background-color: #fff;}
header .sub>li:hover>a, header .sub>li.on>a, header .sub>li>a:focus{
    color: #fff; background-color: var(--sub_color);
}

/* header */

.slide{width: 100%; height: 350px;}
.slideWrap{width: 100%; height: 100%; position: relative;}
.simg{width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: none;}
.simg:nth-child(1){background: url(./img/ej-yao-D46mXLsQRJw-unsplash.jpg) center/cover; display: block;}
.simg:nth-child(2){background: url(./img/c-dustin-91AQt9p4Mo8-unsplash.jpg) center/cover;}
.simg:nth-child(3){background: url(./img/jeriden-villegas-VLPUm5wP5Z0-unsplash.jpg) center/cover;}
.simg a{display: block; position: absolute; top: 50%; left: 5%; transform: translateY(-50%); background-color: rgba(255,255,255,0.8); padding: 50px 100px; border-radius: 50px;}
.simg a h1{color: var(--main_color);}

/* slide */

.contents{background-color: #fff; margin-top: -50px; position: relative; z-index: 3;}
.shortcut ul{display: flex; padding: 30px 50px; justify-content: space-between; align-items: center;}
.shortcut ul li a{line-height: 40px; display: block;}
.shortcut ul li a img{width: 40px; margin-right: 5px}
.shortcut ul li a:hover, .shortcut ul li a:focus {color: var(--main_color);}
.shortcut ul li a:hover img, .shortcut ul li a:focus img{filter: invert(0.5) sepia(1) hue-rotate(142deg) saturate(5) brightness(0.8);}

.banner{display: flex; justify-content: space-between; align-items: center; padding: 30px 50px; gap: 50px;}
.banner>img{width: 20%;}
.banner .text{width: 70%;}
.banner .text h4{margin-bottom: 10px;}
.banner a{display: block; width: 10%;}
.banner a:hover img, .banner a:focus img{filter: invert(0.5) sepia(1) hue-rotate(142deg) saturate(5) brightness(0.8);}

.box{padding: 30px 50px;}
.box .title{display: flex;}
.box .title a{display: block; padding: 10px;}
.box .title .selected{color: var(--main_color);}
.notice{display: none;}
.notice ul{display: flex; flex-direction: column; justify-content: space-between; height: 140px; max-width: 600px;}
.notice ul li a{border-bottom: 1px solid var(--text_color); display: block;}
.notice ul li a:hover, .notice ul li a:focus{color: var(--main_color);}
.notice ul li a p{display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: calc(100% - 100px);}
.notice ul li a .date{float: right;}
.gallery{display: none;}
.gallery ul{display: flex; justify-content: space-between; height: 140px; max-width: 600px; text-align: center;}
.gallery ul li a{display: inline-block;}
.gallery ul li a img{height: 120px; display: block;}
.box .on{display: block;}
/* contents */

.footerBack{background-color: #ddd;}
footer{height: 120px; display: flex; flex-direction: column; flex-wrap: wrap; font-size: 13px;}
footer .flogo{width: 200px; height: 100%;}
footer .flogo a{margin-top: 40px; display: block;}
footer .flogo a img{filter: grayscale(100%);}
footer .fmenu{width: 80%; height: 50%;}
footer .fmenu ul{display: flex; line-height: calc(120px * 0.5);}
footer .fmenu ul li::after{
    content: ""; width: 1px; height: 10px; background-color: #000; margin: 0 10px; display: inline-block;
}
footer .fmenu ul li:last-child::after{display: none;}
footer .copyright{width: 80%; height: 50%;}
/* footer */

.popup{
    width: 600px; height: 350px; background-color: #fff; box-shadow: 0 0 10px #000;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; display: none;
    padding: 50px;
}
.popup h3{color: var(--main_color); margin-bottom: 20px;}
.popup .close{padding: 10px; position: absolute; bottom: 50px; right: 50px;}